body {
  display: flex;
  justify-content: center;
}


#player {
width: 717px;
  min-width: 300px;
  height: 50px;
  background-color: #444;
  margin: 100px;
  display: flex;
  align-items: center;
  margin-top: 500px;
}

.btn-p1 {
  min-width: 50px;
  height: 50px;
  background-color: #444;
  border: none;
  margin: 0px;
}

#left-button {
  min-width: 160px;
}

#time {
    height: 50px;
    width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timeLeft {
    height: 50px;
    width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0px;
  color: rgb(168, 168, 168);
}

#player-bar{
  height: 25px;
  background-color: rgb(168, 168, 168);
  width:50%;
  border-radius: 3px;
}

i {
	color: #ccc;
}









#player2 {
	display: none;
	background-color: #444;
	width: 700px;
  	min-width: 300px;
  	background-color: rgb(65, 65, 65);
  	margin: 100px;
  	margin-top: 500px;
}
#player-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	background-color: #444;
}
#player-img {
	width: 50px;
	height: 50px;
}
#player-bot {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;
	background-color: #777;
}
#player-bar2 {
  height: 5px;
  background-color: #ccc;
  width:60%;
  border-radius: 6px;
}

#jaquette {
	width: 50px;
	height: 50px;
}












@media all and (max-width: 700px) {
	#player {
		display: none;
	}
	#player2 {
		display: flex;
		flex-direction: column;
	}
}
