#player {
  height: 70%;
 width: 70%;
 border-radius: 2px solid black;
 display: flex;
 flex-direction: column;
}
#top {
  background: url('../images/thylacine_4_by_romainriviere.jpg');
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
 /*-webkit-filter: blur(1px);*/
}
#top #image1{
  height: 40%;
  width: 26%;
  margin-left: 9%;
  border: 2px solid white;
  margin-top: 40%;
  margin-bottom: 20px;
}
/*#top #image2 {
  height: 40%;
  with:40%;
}*/

#middle {
  display: flex;
  background-color:#404956;
  color:white;
  margin-bottom: 20px;
  }
#time {
  margin-left: 15px;
  margin-top: 4px;
}
#timeLeft{
  margin-right: 15px;
  margin-top: 4px;
}
#down {
  display: flex;
  justify-content: center;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  background-color:rgb(68,84,95);
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 1px solid white;
}
.fa-play {
  font-size: 30px;

}
#play_pause {
 width: 50px;
  height: 50px;
}
i
 {
  color: rgb(222,237,234);
}

/*CODE BARRE DE PROGRESSION */



#progress{
margin: auto;
width: 80%;
}

progress{



    display: flex;

    -moz-box-sizing: border-box;

         box-sizing: border-box;

    height: 5px;

    padding: 0px;

     background-color:rgb(29,42,48);

    border: 0px solid rgba(0,0,0,.2);

    border-radius: 4px;

}

/* Style de la barre pour Chrome*/

progress::-webkit-progress-value{



    border-radius:10px;

    background-color:rgb(222,237,234);

    background:#3981B0;

    background-size: 300px 20px, auto, auto;

    background-position: -300px 0, top, top;

    background-position: top right, top, top;

}

progress::-webkit-progress-bar{

    background: transparent;

}

progress[value='100'] span{

    width: 100%;

}

progress[value^='9']:not([value^='9.']):not([value='9']) span{

    width: 95%;

}

progress[value^='8']:not([value^='8.']):not([value='8']) span{

    width: 85%;

}

progress[value^='7']:not([value^='7.']):not([value='7']) span{

    width: 75%;

}

progress[value^='6']:not([value^='6.']):not([value='6']) span{

    width: 65%;

}

progress[value^='5']:not([value^='5.']):not([value='5']) span{

    width: 55%;

}

progress[value^='4']:not([value^='4.']):not([value='4']) span{

    width: 45%;

}

progress[value^='3']:not([value^='3.']):not([value='3']) span{

    width: 35%;

}

progress[value^='2']:not([value^='2.']):not([value='2']) span{

    width: 25%;

}

progress[value^='1']:not([value^='1.']):not([value='1']):not([value='100']) span{

    width: 15%;

}

progress span{

-webkit-transition: width 1.6s linear;

    -moz-transition: width 1.6s linear;

      -o-transition: width 1.6s linear;

         transition: width 1.6s linear;

}










/*@media all and (max-width: 700px) {
	#player {
		display: none;
	}
	#player2 {
		display: flex;
		flex-direction: column;
	}
}*/
