body {
  display: flex;
  justify-content: center;
}


#player {
width: 717px;
  min-width: 300px;
  background-color: #444;
  margin: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 500px;
  flex-wrap: wrap;
}

.btn {
  height: 50px;
  background-color: #444;
  border: none;
  margin: 0px;
  width: 50px;
}

#left-button {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#time {
    height: 50px;
    width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timeLeft {
    height: 50px;
    width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0px;
  color: rgb(168, 168, 168);
}



i {
	color: #ccc;
}

#player-img {
	width: 50px;
	height: 50px;
}

#jaquette {
	width: 50px;
	height: 50px;
}

#queryBot {
display: flex;
min-width: 60%;
justify-content: center;
align-items: center;
flex-grow: 1;
background-color: #575555;
}




/*CODE BARRE DE PROGRESSION */

​.test {
}

#progress{
margin: auto;
width: 100%;
}

progress{



    display: flex;

    -moz-box-sizing: border-box;

         box-sizing: border-box;

    height: 5px;

    padding: 0px;

    background: rgba(242,242,242,.9);

    border: 0px solid rgba(0,0,0,.2);

    border-radius: 4px;

}

​

/* Style de la barre pour Chrome*/

progress::-webkit-progress-value{



    border-radius:10px;

    background: #09c;

    background:

      rgba(125,125,125,.9);

    background-size: 300px 20px, auto, auto;

    background-position: -300px 0, top, top;

    background-position: top right, top, top;

​

}

​

progress::-webkit-progress-bar{

    background: transparent;

}

​

progress[value='100'] span{

    width: 100%;

}

progress[value^='9']:not([value^='9.']):not([value='9']) span{

    width: 95%;

}

progress[value^='8']:not([value^='8.']):not([value='8']) span{

    width: 85%;

}

progress[value^='7']:not([value^='7.']):not([value='7']) span{

    width: 75%;

}

progress[value^='6']:not([value^='6.']):not([value='6']) span{

    width: 65%;

}

progress[value^='5']:not([value^='5.']):not([value='5']) span{

    width: 55%;

}

progress[value^='4']:not([value^='4.']):not([value='4']) span{

    width: 45%;

}

progress[value^='3']:not([value^='3.']):not([value='3']) span{

    width: 35%;

}

progress[value^='2']:not([value^='2.']):not([value='2']) span{

    width: 25%;

}

progress[value^='1']:not([value^='1.']):not([value='1']):not([value='100']) span{

    width: 15%;

}

​

progress span{

-webkit-transition: width 1.6s linear;

    -moz-transition: width 1.6s linear;

      -o-transition: width 1.6s linear;

         transition: width 1.6s linear;

}










/*@media all and (max-width: 700px) {
	#player {
		display: none;
	}
	#player2 {
		display: flex;
		flex-direction: column;
	}
}*/
